<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd 
			http://www.springframework.org/schema/oxm 
			http://www.springframework.org/schema/oxm/spring-oxm.xsd 
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd 
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop.xsd 
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util.xsd 
            ">
            
	<import resource="classpath:applicationContext-redis.xml" />
	<!-- <import resource="classpath:applicationContext-kafka-consumer.xml"/> 
		<import resource="classpath:applicationContext-kafka-producer.xml"/> -->
	<!-- 第1步：加载配置文件 -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 第2步：扫描包，但要排除Web的bean，因为SpringMVC会再扫一次 -->
	<context:component-scan base-package="com.xz">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="regex"
			expression="com\.xz\.controller\..*" />
	</context:component-scan>

	<!-- 第3步：配置数据源，常见的有dbcp、c3p0、阿里数据源、BoneCP -->
	<!-- <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"> <property 
		name="driverClass" value="com.mysql.jdbc.Driver"/> <property name="jdbcUrl" 
		value="${jdbc.jdbcUrl}" /> <property name="username" value="${jdbc.username}" 
		/> <property name="password" value="${jdbc.password}" /> </bean> -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 连接url地址 -->
		<property name="jdbcUrl" value="${jdbc.url}" />
		<!-- 连接的数据库驱动 -->
		<property name="driverClass" value="${jdbc.driver}" />
		<!-- 数据库用户名 -->
		<property name="user" value="${jdbc.username}" />
		<!-- 数据库密码 -->
		<property name="password" value="${jdbc.password}" />
		<!-- 连接池的最大数量 -->
		<!-- 连接池的最小数量 -->
		<!-- 连接池的初始数量 -->
		<!-- 连接池的最大等待时间 -->
		<!-- 连接池的 间隔时间 -->
	</bean>

	<!-- 第4步：配置Mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 加载mybatis的主配置文件 -->
		<!-- <property name="configLocation" value="classpath:mybatis-config.xml"></property> -->
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.xz.bean" />
		<!-- 配置mapper扫描文件的扫描位置 -->
		<property name="mapperLocations">
			<value>classpath:mappers/*.xml</value>
		</property>
		<!-- 整合mybatis的分页插件 -->
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<props>
							<!-- 方言 -->
							<prop key="dialect">mysql</prop>
							<!-- 分页合理化 -->
							<prop key="reasonable">true</prop>
						</props>
					</property>
				</bean>
			</array>
		</property>
	</bean>

	<!-- 第5步：扫描并装配Mapper接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.xz.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<!-- 第6步：打开事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
	</bean>
</beans>